# otp_path: "/usr/local/erl_rel/25.3"
apps_dirs:
  - "apps/*"
  - "."
deps_dirs:
  - "deps/*"
diagnostics:
  enabled:
    - crossref
  disabled:
    - dialyzer
include_dirs:
  - "include"
  - "src"
  - "deps/*/include"
  - "deps/*/src"
  - "apps/*/include"
  - "apps/*/src"
  - "lib/*/include"
  - "lib/*/src"
lenses:
  enabled:
    - ct-run-test
    - show-behaviour-usages
providers:
  enabled:
    - signature-help